* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    background-color: lightblue;
}

li {
    color: darkblue;
}

h1 {
    padding-top: 15px;
    text-align: center;
}

h3 {
    font-style: italic;
}

img {
    opacity: 0.8;
    border-radius: 50%;
    border: solid 2px black;
    background-position: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.avatar {
    width: 2em;
}


#java {
    color: red;
}

#swift {
    color: blue;
}

#python {
    color: green;
}

/* 
to target ids: use #
to target classes: use .
to target every element: use * (universal selector)
*/
